body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    background-color: rgb(22, 10, 243);
    overflow: hidden;
    
}
h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.Year{
    font-size: 5em;
    color: white;
    font-weight: bold;
}
.countdown{
    margin: 30px;
    width: 120px;
    color: white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.countdown div{
    margin: 0px 25px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px; 
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before{
    content:""; 
    position:absolute;
    bottom: -30px;
    left: 0;
    font-size: .35em;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    height: 35px;

}


.countdown #day::before{
    content: "Days";
}
.countdown #hour::before{
    content: "Hours";
}
.countdown #minute::before{
    content: "Minutes";
}
.countdown #second::before{
    content: "Seconds";
}